<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Mentor Match</title>
</head>

<body>
    <header>
        <h1>Mentor Match</h1>
        {{#if userName}}
      <p>Hi {{userName}}!</p>
      <nav>
            <ul>
                <li><a href="/mentor-dashboard">Home</a></li>
                <li><a href="/my-mentees">My Mentees</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    {{else}}
    <nav>
            <ul>
                <li><a href="..">Home</a></li>
                <li><a href="/register">Find a Mentor</a></li>
                <li><a href="/register">Become a Mentor</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    {{/if}}
        
    </header>
<h1 class="center">Welcome to Mentor Match</h1>
  <p class="center">We are the next generation Mentor Mentee networking website.</p>

  <br>
  <br>
  <h3 class="center"> VISION </h3>
  <p class="center">Create professional connections for every member across companies</p>

  <br>
  <br>
  <h3 class="center"> MISION </h3>
  <p class="center">The mission of Mentor Match is simple: connect every eager workers to the right mentor</p>

  <br>
  <br>
  <h3 class="center"> WHO WE ARE </h3>
  <p class="center">Mentor Match is the brainchild of BreakingDevs, a group of eager ASU college students eager to make
    a difference in the world.
    <br>
    The platform aimed to make the processing of finding mentors easier and more seamless. <br> At the same itme, it
    also allows mentors to find mentees who are compatible with their skills and speciality
  </p>

    <footer>
        <p>&copy; 2023 Mentor Match. All rights reserved.</p>
    </footer>
</body>

</html>