<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script>
    function displayContent(content) {
      var content = document.getElementById(content);
      if (content.style.display === "none") {
        content.style.display = "block";
      } else {
        content.style.display = "none";
      }
    }
  </script>
  <title>Mentor Match</title>
  <style>
    .row {
      padding-top: 20px;
      display: flex;
    }

    .column {
      flex: 1;
      padding: 8px;
    }

    #visionHeaderId,
    #missionHeaderId,
    #whoWeAreHeaderId {
      background-color: #424D42;
      display: block;
      color: white;
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 2px;
      text-align: center;
    }

    #visionHeaderId:hover,
    #missionHeaderId:hover,
    #whoWeAreHeaderId:hover {
      background-color: lightgrey;
      cursor: pointer;
    }

    #visionTextId,
    #missionTextId,
    #whoWeAreTextId {
      display: none;
      padding: 20px;
      font-size: 17px;
      border: 8px solid #424D42;
      height: 72%;
      text-align: center;
      background-color: #F4F4F4;
      line-height: 1.5;
      height: 450px;
    }

    #aboutUsHeaderId {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    #aboutUsTextId {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 15px;
      font-size: 20px;
      text-align: center;
    }
  </style>
</head>

<body>
  <header>
    <h1>Mentor Match</h1>
    {{#if userName}}
    <p>Hi {{userName}}!</p>
    <nav>
      <ul>
        <li><a href="/mentee-dashboard">Home</a></li>
        <li><a href="/my-mentors">My Mentors</a></li>
        <li><a href="/select-mentor">Select a Mentor</a></li>
        <li><a href="/goals">Your Goals</a></li>
        <li><a href="/about">About Us</a></li>
        <li class="dropdown" id="userDropdown">
          <img src="{{#if profilePicture}}{{profilePicture}}{{else}}user-silhouette.png{{/if}}" id="userIcon"
            width="40px">
          <div class="dropdown-content" id="dropdownContent">
            <a href="/logout" id="logoutLink">Logout</a>
          </div>
        </li>
      </ul>
    </nav>
    {{else}}
    <nav>
      <ul>
        <li><a href="..">Home</a></li>
        <li><a href="/register">Find a Mentor</a></li>
        <li><a href="/register">Become a Mentor</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </nav>
    {{/if}}

  </header>
  <div class="container">
    <h1 id="aboutUsHeaderId" class="center">About Us</h1>
    <p id="aboutUsTextId" class="center">Welcome to Mentor Match, where we are redefining the way professionals connect
      and
      collaborate with their peers. Our platform is the next generation Mentor-Mentee networking website, designed to
      empower
      individuals with the resources and support they need to thrive in their careers.</p>
    <div class="row">
      <div class="column">
        <h3 id="visionHeaderId" class="center" onclick="displayContent('visionTextId')"> VISION </h3>
        <p id="visionTextId" class="center">Our vision is clear and ambitious:
          we
          aspire to revolutionize
          the way
          professionals connect and collaborate with their peers. We aim to create a vibrant ecosystem where every
          member
          can
          effortlessly build valuable and long-lasting professional connections, transcending the boundaries of their
          respective
          companies. By doing so, we hope to empower individuals with the resources and support they need to thrive in
          their careers.
        </p>
      </div>
      <div class="column">
        <h3 id="missionHeaderId" class="center" onclick="displayContent('missionTextId')"> MISSION </h3>
        <p id="missionTextId" class="center">Our mission is both straightforward and impactful. We exist
          to
          bridge the gap between eager workers seeking guidance and experienced mentors willing to share their
          knowledge.
          Our primary
          goal is to facilitate connections that are not only meaningful but also tailored to each individual's unique
          aspirations and
          goals. We firmly believe that connecting the right mentor with the right mentee can be a transformative
          experience, unlocking untapped potential and fostering professional growth.</p>
      </div>
      <div class="column">
        <h3 id="whoWeAreHeaderId" class="center" onclick="displayContent('whoWeAreTextId')"> WHO WE ARE </h3>
        <p id="whoWeAreTextId" class="center">Mentor Match is the brainchild of BreakingDevs, a passionate group of
          Arizona
          State University college students determined to leave a lasting impact on the world. With a shared commitment
          to
          facilitating
          mentorship and knowledge exchange, they embarked on a mission to develop a platform that would streamline the
          mentor-mentee
          connection process, making it not only more accessible but also remarkably effortless.
      </div>
    </div>
  </div>
  </div>
  <footer>
    <p>&copy; 2023 Mentor Match. All rights reserved.</p>
  </footer>
</body>

</html>