<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentee Questionnaire</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <header>
        <h1>Mentor Match</h1>
        <nav>
            {{#if userName}}
      <p>Hi {{userName}}!</p>
    {{else}}
    {{/if}}
            <ul>
                <li><a href="/mentor-dashboard">Home</a></li>
                <li><a href="/my-mentees">My Mentees</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
<form id="mentor-questionnaire-form" method="POST">
  <h1 id="form-title">Tell us about you!</h1>
  <label for="personality-type" id="personality-label">What is your personality type?</label>
  <select name="personality" id="personality-select">
    <option value="none"> </option>
    <option value="istj">ISTJ</option>
    <option value="isfj">ISFJ</option>
    <option value="infj">INFJ</option>
    <option value="intj">INTJ</option>
    <option value="istp">ISTP</option>
    <option value="isfp">ISFP</option>
    <option value="infp">INFP</option>
    <option value="intp">INTP</option>
    <option value="estp">ESTP</option>
    <option value="esfp">ESFP</option>
    <option value="enfp">ENFP</option>
    <option value="entp">ENTP</option>
    <option value="estj">ESTJ</option>
    <option value="esfj">ESFJ</option>
    <option value="enfj">ENFJ</option>
    <option value="entj">ENTJ</option>
  </select>
  <br>
<label for="education" id="education-label">What is your highest level of education?</label>
  <select name="education" id="education-select">
    <option value="none"> </option>
    <option value="high-school">High School</option>
    <option value="university">University</option>
    <option value="gradSchool">Grad School</option>
    <option value="phd">PhD</option>
    <option value="no-education">No Education</option>
  </select>
  <br>
  <label for="skills" id="skills-label">What Skills do you have?</label>
  <input type="text" name="skills" id="skills-input">
  <br>
  <label for="advice-type" id="advice-label">What Kind of Advice do you offer?</label>
  <input type="text" name="adviceType" id="advice-input">

   <button type="submit" id="submit-button-form">Submit</button>
</form>
        <!--
        <br>
        <label for="industry-experience">How many years of professional experience do you have?</label>
        <select name="experience">
            <option value="none"> </option>
            <option value="0">0</option>
            <option value="one-to-three">1-3</option>
            <option value="four-to-six">4-6</option>
            <option value="seven-to-nine">7-9</option>
            <option value="ten-plus">10+</option>
        </select>
        <br>
        
        <label for="adviceType">What type of advice are you looking for?</label>
        <select name="adviceType">
            <option value="none"> </option>
            <option value="financial">Financial</option>
            <option value="startup">Startup</option>
            <option value="job">Job</option>
        </select>
        <br>
        
        <label for="skills">What are some skills you are looking to improve on?</label>
        <input type="text" name="skills">
        <br>
​
        <label for="goals">What are your professional goals?</label>
        <input type="text" name="goals">
        <br>-->
   

</body>
</html>
        