<!DOCTYPE html>
<html>

<head>
  <title>View Your Tasks</title>
</head>

<body>
  <h1>Your Tasks</h1>

  {{#if tasks}}
  <ul>
    {{#each tasks}}
    <li>
      {{this.description}}
      {{#unless this.completed}}
      <form action="/tasks" method="POST">
        <input type="submit" value="Mark as Completed">
      </form>
      {{/unless}}
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p>You have no tasks.</p>
  {{/if}}

  <a href="/goals">Add a new task</a>
</body>

</html>