body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #424d42;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-image: url('background-image.jpg'); /* Add your background image URL here */
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #424d42;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #f4f4f4;
}

.feature {
    text-align: center;
    width: 30%;
    padding: 20px;
}

footer {
    background-color: #424d42;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#mentees-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  #mentees-table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  
  th {
    background-color: #4b524c;
    color: white;
  }
  
  #mentees-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #mentee-details-link {
    color: #333;
    text-decoration: none;
  }
  
  #mentee-details-link:hover {
    color: #000000;
  }
  
  #mentors-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  #mentors-table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  
  th {
    background-color: #373f38;
    color: white;
  }
  
  #mentors-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #submit-button {
    background-color: #3b423b;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  #submit-button:hover {
    background-color: #373f38;
  }
  
  #mentors-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  #mentors-table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  
  th {
    background-color: #373f38;
    color: white;
  }
  
  #mentors-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  html {
    height: 100%;
    width: 100%;
  }
  .center {
    margin: auto;
    display: table;
  }

  p.center {
    text-align-last: center;
  }

  